.btn-pink {
  background-color: #E8AABD;
  color: white;
  border: 3px solid white;
  border-radius: 60px;
  font-size: 22px;
  padding: 10px 20px;
  text-decoration: none;

}

btn-pink:hover{
  color: white;
}
