.card-category-white {
  overflow: hidden;
  height: 100px;
  background: white;
  display: flex;
  flex-basis: 250px;
	flex-grow: 1;
  margin: 20px;
}
.card-category-white img {
  width: 200px;
  object-fit: contain;
  padding: 5px;
  border-radius: 10px;
}

.cards {
  display: flex;
	flex-wrap: wrap;
  margin: 20px;
}
